server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/chat_app
    username: chatuser
    password: password123

  jpa:
    hibernate:
      ddl-auto:  validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  logging:
    level:
      root: INFO
      org.example: DEBUG
      org.springframework.web: INFO
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE